@import "~codemirror/theme/darcula.css";
@import "~codemirror/theme/dracula.css";
@import "~codemirror/lib/codemirror.css";

.cdx-editor__container {
  position: relative;
}

.cdx-editor__langDisplay {
  position: absolute;
  line-height: 20px;
  font-size: 11px;
  color: #f1f1f1;
  background-color: #4a4d5e;
  padding: 3px 7px;
  right: 0;
  bottom: 0;
  border-top-left-radius: 5px;
  cursor: pointer;
}

.cdx-editor__copyButton {
  position: absolute;
  z-index: 2;
  line-height: 20px;
  background-color: #4a4d5e;
  padding: 4px 9px;
  right: 0;
  top: 0;
  border: none;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  color: #f1f1f1;
}

.cdx-editor-dropdown {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  margin-bottom: -2.25rem;
  z-index: 1;
}

.cdx-editor-dropdown__input {
  padding: 8px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #041e42;
}

.cdx-editor-dropdown__content {
  width: 100%;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.cdx-editor-dropdown__content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.cdx-editor-dropdown__content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.cdx-editor__textarea {
  min-height: 200px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  color: #41314e;
  line-height: 1.6em;
  font-size: 12px;
  background: #f8f7fa;
  border: 1px solid #f1f1f4;
  box-shadow: none;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  resize: vertical;
}
